/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.vflex {
    display: flex;
    flex-flow: column;
}

.hflex {
    display: flex;
    flex-flow: row;
}

.flex {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

#container {
    min-height: 700px;
}

#game-window {
    border: 1px solid black;
}

.counter-text {
    text-align: center;
}

input[type=button], button {
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    color: black;
    font-size: 24pt;
    transition: all 0.08s;
}

#quit-button:hover {
    background-color: #7d7d7d
}

#revive-button:disabled {
    color: #747474;
    background-color: #d5d4d4;
    border-color: #b1b1b1
}

#revive-button:hover:enabled {
    color: #000;
    background-color: #53edf2;
}

#revive-button:hover:active {
    color: #000;
    background-color: #dbfeff;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid #747474;
    padding: 5px 8px;
    text-align: center;
}

.thin-spacer {
    min-width: 20px;
}